<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://linked-out.herokuapp.com/">Linked-Out</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/user_profile/">Profile</a></li>
        <li><a href="/status/">Status</a></li>
        <li><a href="/friend/">Add Friend</a></li>
        <li><a href="/dashboard/">Dashboard</a></li>
      </ul>
    </div>
  </div>
</nav>