{% extends "layout/base.html" %}

{% block title %}
User Profile by Kezia Irene
{% endblock %}
{% block content %}
<h1>Profile</h1>
<hr/>

<section name="name">
    <p align = "center">
         <img src={{model_pic}} class="rounded-circle" widht="200" height="200">
    </p>  
    <p align = "center">
        <h2 align="center">{{name}}</h2>

    </p>  
</section>
<hr/>
<section name="about_me">
    <table class="table" align="center">
        <tr>
            <td>Birthday</td>
            <td>{{birthdate}}</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>{{gender}}</td>
        </tr>
        <tr>
            <td>Expertise</td>
            <td>
                <span class="badge badge-pill badge-primary">Primary</span>
                {% for data in expertise %}        
                    <span class="badge badge-pill badge-primary">{{data.expertise}}</span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{description}}</td>
        </tr>
    </table>
</section>
<hr/>


{% endblock %}
